<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Fraise123</property>
        <property name="hibernate.connection.url">jdbc:mysql://epdbinstance.cbqntxbfrjzg.us-west-2.rds.amazonaws.com:3306/mtg/?autoReconnect=true</property>
        <property name="hibernate.connection.username">ericpicot</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.eric.mtgproject.db.CardPrice" />
        <mapping class="com.eric.mtgproject.db.Card" />
        <mapping class="com.eric.mtgproject.db.CardSet" />
    </session-factory>
</hibernate-configuration>
